<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LeoAWS" verbose="10">
    <test name="All">
        <packages>
            <package name=".*"/>
        </packages>
        <classes>
            <class name="io.leoplatform.sdk.aws.payload.JacksonPayloadTest"/>
            <class name="io.leoplatform.sdk.aws.payload.JSDKGzipWriterTest"/>
            <class name="io.leoplatform.sdk.aws.payload.InternalThresholdMonitorTest"/>
            <class name="io.leoplatform.sdk.aws.dynamo.DynamoReaderTest"/>
        </classes>
    </test>
</suite>