<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LeoOracle" verbose="10">
    <test name="All">
        <packages>
            <package name=".*"/>
        </packages>
        <classes>
            <class name="io.leoplatform.sdk.oracle.OracleDomainQueryTest"/>
            <class name="io.leoplatform.sdk.oracle.OracleRowResolverTest"/>
        </classes>
    </test>
</suite>